


* {
    box-sizing: border-box;
}

.body {
    font-family: Georgia, 'Arial';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    
}

.logofirst {
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    text-decoration:none;
    color:#F1CDB3;
    list-style-type: none;
}
.container {
    width:1280px ;
    margin: 0 auto;
}
.puppy {
    width:1280px ;
    margin: 0 auto;
}

.intro {
    background-image: url(images/footer-background-1.png)
 }
.nav-list {
    display: flex;
}
.header {
   display: flex;
   padding-top: 30px;
   padding-bottom: 60px;
}
.logofirst {
  width: 184px;
  height: 35px ;
  display: inline-block;
}
.nav-link {
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #CDCDCD;
    margin-right: 0;
}

.nav-item {
    margin-right: 35px;
    margin-top: 30px;

}

.intro-about {
    display: flex;
    flex-direction: column;
}
.intro-title {
    font-weight: 400 ;
    font-size: 44px ;
    line-height: 57.2px ;
    color:#ffffff;
    padding-bottom: 42px;
    width: 460px;
    height: 72px;
    font-family: Georgia;
    margin-left: 40px;
}
.intro-description {
    font-weight: 400 ;
    font-size: 15px ;
    line-height: 24px ;
    color:#ffffff;
    padding-bottom: 52px;
    font-family: Arial;
    margin-bottom: 42px;
    margin-left: 40px;
}
.intro-makeafriend {
    width: 207px;
    height: 52px;
    font-family: Georgia;
    font-weight: 400 ;
    font-size: 17px ;
    line-height: 22.1px ;
    background: #F1CDB3;
    color: #292929;
    padding: 15px, 45px;
    text-decoration: none;
    border-radius: 1000px;
    text-align: center;
    margin-bottom: 100px;

}
.puppy {
    width: 698px;
    height: 728px;
    margin-left: 42px;
    margin-right: 40px;
    margin-bottom: 80px;
}
.title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    text-align: right;
    margin-right: 275px;
}
.fearures {
    padding: 94px 275px 404px 635px;
    width: 588px;
}
.f-title {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-left: 635px;
    margin-top: -400px;
}
.f-description {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-left: 635px;
    margin-bottom: 114px;
}
.f-card-image {
    padding-bottom: 180px;
}
.title2 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    text-align: center;

}
.p-title {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    background-color: rgba(246, 246, 246, 1);
    text-align: center;
}
.p-card-image1 {
    margin-left: 145px;
    background-color: rgba(246, 246, 246, 1);
    width: 270px;
    height: 270px;
    
}
.p-link {
    margin-left: 231.1px;
    text-decoration: none;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
     color: rgba(41, 41, 41, 1);
     background-color: #F6F6F6;
     border: 1px solid #e98da1;
     border-radius: 20px;
     padding: 10px 10px 10px 10px;
     text-align: center;

}
.pets3page{
    display: flex;
    justify-content:space-between
}
.buttonlink {
    font-size: 17px;
    line-height: 22.1px;
    text-decoration: none;
    color:rgba(41, 41, 41, 1);
    border: 1px rgba(241, 205, 179, 1);
    background-color: rgba(241, 205, 179, 1);
    border-radius: 100px;
    width: 261px;
    height: 52px;
    margin-left: 150px;
    
}
.button {
    margin-left: 510px;
    margin-top: 60px;
    margin-bottom: 100px;
    
}
.zagolovok {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
}
.helpshelter {
    text-align: center;
}
.t-list {
    display: flex;
     justify-content: space-between;
}
.howhelp {
    margin-bottom: 100px;
}
.donationdog {
    margin-left: 183px;
    margin-top: -300px;
}
.donationhelp {
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45px;
margin-left: 718px;

}
.nameofbankcard {
margin-left: 718px;
font-family: Georgia;
font-size: 15px;
font-weight: 400;
line-height: 17px;

}
.cardnumber {
    margin-left: 718px;
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 23px;
text-decoration: none;
border-color: rgba(241, 205, 179, 1);
background-color: rgba(241, 205, 179, 1);
border-radius: 9px;
}
.info {
margin-left: 718px;
font-family: Arial;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;


}
.donation {
    margin-bottom: 100px;
}
.waiting {
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45px;
color: rgba(241, 205, 179, 1);
display: flex;

}
.adressone {
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 23px;
margin-left: 10px;
color: rgba(241, 205, 179, 1);


}
.adresstwo {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin-left: 10px;
    color: rgba(241, 205, 179, 1);
}
    .footerpuppy {
margin-left: 940px;
height: 310px;
width: 300px;
margin-top: -300px;
margin-right: -50px;

    }
    .adress {
        background-color: rgba(81, 61, 47, 1);
    }
    .questions {
font-family: Georgia;
font-size: 35px;
font-weight: 400;
color: rgba(241, 205, 179, 1);
display:flexbox
}
.navlink {
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 23px;
text-decoration: none;
color:rgba(241, 205, 179, 1);

}
    